body {
  text-align: center;
}
#family_img {
  width: 28%;
  height: 60%;
}
button {
  font-size: 25px;
  background-color: white;
  border-radius: 20%;
  color: black;
}
h1 {
  font-size: 40px;
  color: black;
}
h3 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}
